<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sjr.android.iCourse"
      android:versionCode="1"
      android:versionName="1.0">
	
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<receiver android:name=".AlarmReceiver" android:process=":remote"/>
    	<receiver android:name=".WidgetTest" android:label="@string/app_name">
    		<intent-filter>
  				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> 
  			</intent-filter>
  			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_test_provider" /> 
  		</receiver>
    	
 		<activity android:name=".start"
				  android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".addSemester"
        		  android:label="@string/add_semester">
        </activity>
         
         <activity android:name=".addCourseInfo"
        		  >
        </activity>
          <activity android:name=".listAssignments"
        		  >
        </activity>
          <activity android:name=".listCourses"
        		  >
        </activity>
          <activity android:name=".showCourseInfo"
        		  >
        </activity>
        		  
        <activity android:name=".editSemester"
        		  android:label="@string/edit_semester">
        		  </activity>
        <activity android:name=".listSemester"
        		  android:label="@string/list_semester">
        </activity>
        <activity android:name=".displaySemester"
        		  android:label="@string/list_semester"></activity>
        		  
     	<activity android:name=".DisplaySAT"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".ListTeacher"
                  android:label="@string/list_teacher">
        </activity>
		<activity android:name=".Addteacher"
				  android:label="@string/add_teacher">
		</activity>
		<activity android:name=".TeacherView"
				  android:label="@string/edit_teacher">
		</activity>
		<activity android:name=".AddAssignment"
				  android:label="@string/add_assignment">
				  </activity>
		<activity android:name=".AssignmentView"
				  android:label="@string/view_assignment">
				  </activity>
		<activity android:name=".listToday"
				  android:label="当日课程">
				  </activity>
		<activity android:name=".listCalendar"
				  android:label="本月课程">
				  </activity>
		
    </application>
    <uses-sdk android:minSdkVersion="3" /> 
</manifest>